<div class="container">
    <h1>Favorite destinations</h1>

    <% if user_signed_in? %>
        <% if @favorite_destinations.size > 0 %>
            <% @favorite_destinations.each do |favorite| %>
                <% if favorite.user_id == current_user.id %>
                    <div class="container">
                        <div class="row">
                            <div><b><%= favorite.destination.city %></b></div>
                            <div><%= favorite.destination.country %></div>
                            <div><%= favorite.destination.currency %></div>
                            <% if favorite.destination.reviews.present? %>
                                <% favorite.destination.reviews.each do |dest_review| %>
                                    <% if dest_review.user_id == current_user.id %>
                                        <div>Rating: <%= dest_review.rating %></div>
                                        <div>Comment: <%= dest_review.comment %></div>
                                        <%= button_to 'Edit review', edit_destination_review_path(destination_id: dest_review.destination.id, id: dest_review.id), method: :get, class: 'btn btn-secondary btn-sm' %>
                                        <%= button_to 'Remove review', destination_review_path(destination_id: dest_review.destination.id, id: dest_review.id), method: :delete, remote: true, class: 'btn btn-secondary btn-sm' %>
                                    <% else %>
                                        <% if !favorite.destination.reviews.map(&:user_id).include?(current_user.id) %>
                                            <%= link_to 'Add a review', new_destination_review_path(destination_id: favorite.destination.id) %>
                                       <% end %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <%= link_to 'Add a review', new_destination_review_path(destination_id: favorite.destination.id) %>
                            <% end %>
                            <%= button_to 'Remove from favorites', favorite_path(id: favorite.destination.id), id: 'remove_favorite', method: :delete, remote: true, class: 'btn btn-danger btn-sm' %>
                        </div>
                        <hr>
                    </div>
                <% end %>
            <% end %>
            <%= link_to 'Back', root_path %>
        <% else %>
            <p> Momentarly you don't have favorite destinations added. </p>
            <%= link_to 'Back', root_path %>
        <% end %>
    <% else %>
        <p>Please sign in to get the best of our application</p>
        <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
</div>
