<div class="container">
    <h1><b>VacationPlanr</b></h1>
    <br>
    <h4>Welcome to <b>VacationPlanr</b> application</h4>
    <p>This is the best place where you can find your next vacation destination</p>

    <% if user_signed_in? %>
        <p>Logged in as: <b> <%= current_user.email %> </b> </p>
        <hr>
        <h3>Available destinations</h3>

        <%= render 'home/destinations_table', destinations: @destinations %>
        <br>
        <%= form_tag filter_destinations_path, id: "filter-country", method: :get do %>
            <%= text_field_tag :country, params[:country], placeholder: 'Filter country', class: 'input-small' %>
            <%= button_tag type: :submit, class: "btn btn-outline-success btn-sm" do %>
                <%= 'Filter' %> 
            <% end %>
        <% end %>
        <hr>
        <%= link_to 'Favorites', favorites_path %>
        <br>
        <%= link_to 'Detailed weather info', weather_index_path, method: :get %>
        <hr>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% else %>
        <p>Please sign in to get the best of our application</p>
        <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
</div>
