<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @destination.currency %>
</p>

<p>
  <strong>Current weather:</strong>
  <% if @city_weather %>
    <p> Temperature: <%= @city_weather[:temp_c] %> °C </p>
    <p> Condition: <%= @city_weather[:condition][:text] %> </p>
  <% else %>
    <p> We don't have weather data for this city. </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
